{% extends "components/base.html" %}

{% block title%}Главная страница{% endblock title%}

{% block main %}
{% load static %}

    <form class="flex flex-col gap-y-5 mx-80 mt-48" method="POST" action="{% url 'search' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex">
            <input type="text" name="search" id="" class='border border-3 rounded-s-lg border-gray-950 w-11/12 h-10 pl-5 ' placeholder="что ищите ?.." required>
            <button type="submit" class="bg-indigo-600 hover:bg-indigo-500 text-white text-sm font-bold py-0.5 px-3 rounded-e-lg w-36 h-10">Поиск</button>
        </div>

    </form>
    <a href="https://web.telegram.org/a/#2089422775"></a>

    <div class="flex items-center flex-col gap-y-10 mx-80 mt-48">
        <h3 class="text-3xl font-bold leading-9 tracking-tight text-gray-900">Категории:</h3>
        <div class="flex items-center gap-x-10">
            {% for categorie in categories %}
                <a href="{% url 'items' categorie.slug%}" class="flex flex-col items-center justify-center gap-y-5 bg-gray-700 border border-3 rounded-lg border-slate-950 w-56 h-56">
                    <img class="h-24 w-auto" src="{% static categorie.images.url %}" alt="">
                    <span class="text-slate-50 text-lg font-bold pl-2">{{categorie.title}}</span>
                </a>
                {% endfor%}
            </div>
        </div>
        
        
        {% endblock main %} 
       
       
       
